/* MAIN-CONTAINER */
.accordion-container {
    max-width: 80%;
    margin: 20px auto;
  }
  
  /* ACCORDIAN TAB */
  .accordion-tab label {
    background-color: #191e24;
    color: rgb(255, 248, 248);
    display: block;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 8px;
    margin: 2px 0;
    position: relative;
  }
  
  .accordion-tab label::after {
    content: '+';
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: large;
    font-weight: 500;
    color: #f1c40f;
  }
  
  .accordion-tab input:checked ~ label::after {
    content: '-';
    font-weight: 600;
    font-size: xx-large;
    top: 0;
  }
  
  .accordion-tab input {
    display: none;
  }
  
  /* ACCORDION CONTENT */
  .accordion-tab > .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
    background: rgb(17, 11, 11);
    border-radius: 0 0 8px 8px;
    position: relative;
    top: -10px;
    z-index: -1;
    border: 1px solid rgba(128, 128, 128, 0.204);
  }
  
  .accordion-content p {
    padding: 20px;
  }
  
  .accordion-tab input:checked ~ .accordion-content {
    max-height: 100vh;
    box-shadow: 5px 5px 10px rgb(184, 183, 183);
  }
  